.from_partner
  .main.box_like_view.contents_padding
    = render partial: "pairs/shared/advertising"

    .from-partner
      .common_page_header
        %span.page_tile.icon_square お相手からのいいね！
        .box_button_withdrawal
          %span
            =link_to "退会者を非表示","",class: "button_withdrawal top button_f button_white_a"


        .partners.length_0
          .box_not_found_like_discription
            .user_relation
              =image_tag "https://lh3.googleusercontent.com/4T-8GQSWbFY_rvNfY00_fBalOPZtAb1ZAd5o3vgBO2DRGverf5-4S6XCoqnWoQff938DVPTJ0S4opVaAsGmXSGx05hTlhH6f7e2JID_7SJ2IN9GWwDmXGF-st0TJR01QyPbSPJXV-dRc4HN1AVIJ1yjCwoRajw4Jcd1fOVFU759dJycH-P76TzJERk9UWNaaf9gPFoRpsBfDqHx-7h1tAQMC44N4bjbdzNupudWaF2v35odG_xigdOrMVoiDZXOdiFTk8hsJ5AGoCZf9tv8lR0QTb4LXoDGnPPWJ0k_BZX9ueiYglgkMacIXb-nEbQNrlk8ppN4cYpiuvgdgZTVUsw2yEkEJO-IbRlOLTovB7IJJ4HL3T2UEwlkrJwDDMr2cDG3rq_64T_khUgzpyI9QKUNEXX3aEVQRGY1tFFkMdQCmsNCA89_Zo5qq-SSga5voUggzxzpF-lnKS6b9eielS3-ID9C9LH7A_IGh7x_Z7gciTng5_jeAbicgen2tJDLBynm1ICAtglwE5g6abEltXeqEhCELbcwuytJP2mM3URBP2kqnH2hC685aJ0c8fFCTFhP6Zawn3iHtynoohSgoL8kYx9kdmzPmSdbmcWiGEH3IXnkrSthWYWyfLnQt9kW3RYFlXQFcMu0H7G4HRqM34IY-5D4IB9nh=s78-no",class: "image-circle"

              =image_tag "https://lh3.googleusercontent.com/hq09Hjhkq2gnF9Py-64tWvqBLv4NI7uiLPuPFNwVJG7X5F03hFliPnSV5sWV-Jyy3NQabxFrsFVGzGTIPLoW2e8E3C16E3N3ESWB5thzxWTx0y7NXyfryzOqVRja01icoxW2M3VSEOljGocZS6oOLJcN0ytqpV2y8_ApkVGYdhY2JFLLnbBIvCV8lwxcCySvxOaPri_gkhzdsCbsSdk71Q2jc0MH67IkndM0CIFZYaIQE_RcYS8DJs8z9gKl8bDF667qgRVbjcpB-zNeLF7LHRtka1cT0utwOzAVCB4UFyInciw1Qfg22GCKfpJAH3siztzsGnGqiXxv4-wtr71eFK9gvvzol-uyfLaJ83am1EkHFOPu-P0j5OY4H9L9NPhOC98XBo5JtL88klfXdbteos2BxKFmQgjDj5DVlL7ziwq-R6MqeeMsy5Kjs__u_eAo-JWM0WaXKtFElrpKzcuCGPCMMqwgePEeE5rN1fdVihc1uzLk5f_X4lWfXU1NSe9UIdbGtPq7pJkQkJkAba0UQs5E1-Z3eO8-MNgExwgorth3hQz-XMT5NWzz_7T5XF8LCkUltonfkteDFz3NdRQdYUPPCN_ObVuvRP6Zu1tbULwy5XARJathUC7wKa3rSo5HwniMN3ed6QywnjyYv-fh3-JHi6HBPVG3=w104-h111-no",class: "icon_relation"

              - if @sideUser.UserImages.find_by(status: 1).present?
                =image_tag "#{@sideUser.UserImages.find_by(status: 1).content}" ,height: "78", width: "78" ,class: "image-circle"
              - elsif current_user.gender == "male"
                = image_tag "https://lh3.googleusercontent.com/TfSva6g4DoAgB-0IcJRy2uGwlaV5583y4-mI64zKwt4xG4ogeLWLXMkLdGmHnupwEtASXC8uHy52KInNrkQlZWuDysLQOLcvjpDqGa-uh6Ku_wDtstE0k1EJIwOCzBOTdLMF--gZGg87OdZhuVrJfvnps6hDg4xzWdEGk2t_uIpWBKCGpJFrgWgnA0kla3SkYX_zOlgwOVEFiZpDwdY7Z3y48IU-_FEXyeh-XTesR_PDb_1Q_nxZDdsNunoEeazreKJ87-AWiO6aqycZX8zdUgxb2FvXkQLzeLozqrwbrR2auwyhQUfu8FV0ViiNwyS3FGv2vXst2RZO5aHcqEIx8yKoF53_3v-PgBrHQznad4vk-r8B846fP5bxLg4YxcMubX_-_qf2nJJEKJDqNxEuhyi4NviGVKu02Q7Cwp8e__44wiq63NcSiQ-1CvgzCge6qAh8ZMDQBkAQLQjzZGmILH05j42n5DbQFor2OAdiXnNJT_LHRkJOxDTrBLArI_N3dtmqutF0pWe3YjQ1VKK5raBzgWuP_fa-8lpjrm8F_ekbxOrHiUyK9sKTkpR0b6323ep3CVgNnLVCdV_Qcrm1yKRmGaNRpp_FEjter59oIGoNgnlo3_QgZ3beN3oU7I-H6FTYS-AhnzXH5Z1A-8DCUWnoOqW5pVQc=s640-no" ,height: "78", width: "78" , class: "image-circle"
              - else
                = image_tag "https://lh3.googleusercontent.com/6nHZo9ncRHpfOAfDBg1QEnGJTmTz80BIK06M3pkxYJFFddDktWulb9OSFTnyHM-5bbJwl5eOQPHw_zShMjLNaXTU0D-9dypWyeBonPRzljTpAPoXiT-a7A4vKJu8vJdikm4JIt6-SACVvWrU-Bl4HRkrk_bzkKv5LBcvBw7VsiG5PBASpIAF209t7MZ_MA0up_eTjEWwQ8UntsCtqjzfD8QjBlgyFZh7y8zM4ISlCbQqH5L-9ZjzxHh9zFX9_HSrSd-sF7pFV7ngzbYc5W5KHab7RBxqm_jlBsnZTvHs-MaG1RPuAtCWsAi0W6ayZjkCzViLvd_RCrRn37m4qjFtWrKU75cNs1buVzW01sB4bNm_RaSslIo1fzv-QoPd5rioAdFNeh5zDCM0AANsJANef6Rg7-AlQnUVBoe2RkSgkkBHnENm2PAU_EImbcq6fDZea1J19HQMycJx4Om7kJEm97EZLm5RK-WLg4gnQpf2HhfXtb0WtpvGMbKebiy7vxYDCgNWVZpL-4jRcsBU_55hTUfyhqi3Gwzfhh-LtueeV9GxaKvlhKFt8sF4rIEvs_NlHqTVhMpV-5G2j6KwL2yUv1zlAmNCI7o_wUWcx0nR-6OXVzp4bI_48gd6JyFD8rKU0Pk1pHrnrM8gqgWcVkhVNNVEph-jbogK=s640-no" ,height: "78", width: "78" , class: "image-circle"
            %p.discription_title.mb0 ここには、あなたに「いいね！」をしてくれたお相手が表示されます。
          .box_not_found_callout_profile
            .callout_inner
              %p.callout_text01 プロフィールを充実させている人は、
              %P.callout_text02
                %em 6倍いいね！
                をもらっています。
              %p.more
                =link_to "プロフィールを充実させる", user_path(current_user),class: "button_d button_blue_a"



      .partners
        .lookPartners.ng-hide
          / ↑3つのページの中で唯一の特殊クラス
          / 枠を一つ大きく取って、ここもrender候補？
          #box_like_recommend.box_like_recommend.mb15
            .box_recommend_user
              =image_tag "https://lh3.googleusercontent.com/3Uk6yAkzJavjmI5tSbWcY15cZCpvC6PkH83VitCAl_DvAzj_VDbxNIRPA0NkX8tnLQ81hYlFnsgwu-doDMABL6aPrvsTKNtsD6Xa59ExNre7nZ8dlf39h42YS1hqQ_K-cldbGGUshnU24ngi_yzpz4rmL4974z9UcBd3XdYiIyvIEYaBC_2cEBMZrsFClbTuSYgofFjsFbLN25McI7B4hvnKvJGQA8n1J700gXc7T7yPiiP-zT7BUSmIvIjzJKjaA2ifgZaEx00dSS6bAfFc7cpUCFvKI2tceEgm76itC18ZuHn_4GWkyCnF3PpoGw1tlyYuclGCFPndhvhLIk4gtXxwnn2aKqcFR7bimcyaPQAP7L3SyAYYyg3QxSkpSTBYOGr5I6SXVXPyea_GlgAQhi6IEnOz8GwOsKXF6WPyRCZnkCsXe29qfV15cLqZ0iAeiLftrYY-hEtmGT1Q0KM7yeAm5NbmKm6FuSCZRChd1ir-t78xPiPJDYvCllmpcmZNcG5tjNhO80D-kEwh32Byjj2318Nc7w5BUYBK0p4oSfncW9jqNrDSOhkadxO2EcLyHoWQgQqhmQzbS905M-IBGSqryw6h-JPpy7ceOC0rZ4gd6GVqnJHqI5QZL_DXuJxZM9z47eeyfOioTLZm1140uEHQVXZqNGYR=w121-h86-no"
              %ul#recommend_box.recommend_user_list
                %li.recommend_user_item
                  =link_to do
                    =image_tag "https://lh3.googleusercontent.com/bKDlj30E4NitaDXdEkcnNJ7uibfnQorzLHMQM4JEJ5ILNVUTVCA1CFgJg9msTlpUylaCI8niuS2aKo7L-mcFbg90yNt8gsV8QdfGf_3NFmxzKYyngNMm3dqPkSR-wvx5QshFEcWAJFhTwtkmqNT2hwGkZ9CgdiLgtMZ9jcfS-Hll-WTlFFWy_GhbYczuz6OKPVttf_H0l5HZhQgryZnBuo5LIbd1e89kQqSWpXf5o1ZSfuUEe7YuTYnpH9Q2s_qiHxW3Uk5mnuyR1D-YBCWpsP4BMDsIFoQXSfJt7vQYITzk-2v3RowrM4SNkCBLyHn_KQSYSR7eT0vHk3gRZ1ke3i8rHl19TiMjQS6OcgpVfeSuHpYOMNOs5yTJZIMP3Vpec_HXt0jhM3-dhhEZjjWLQWdd_hhyRxmlIGXYg1cWUvrU0x0FFDVlpsBrECkqLBycY0KeftAvVUaYqJFFWL30gLFvSl38yE-bJtBDxiETXatt_tUAGCCtQRf8LqDngmT0JLyhezb9JzU0nQHWUUqcS564eGlHbteewBC-jF4GlWw2q6blPpF2ZpVFcLbx1HNlzN4ueVcJKaCQaNhVY_Ry-D7SNSfzbaJHOEfMJnwJ2ltn2N6czaoQhI4fM3THXEGoe34efrJypSUoQCXfOJfpQmRufd4wJYv1=s636-no",height: "64",width: "64", class: "user_photo image-circle"
                    %p.user_info
                      ななみん
                      %span.ng-hide
                        23歳

            .like_thx_descriptoon
              =image_tag "https://lh3.googleusercontent.com/hiu2vOlo9SrvXf9479AyEEKPQG95wgX9rrXt8jaxjg3NRZJhiF69Ak_qz688kMwaj88jTPt-B6YMfJftOjbbd8fF3r-4ENo03CaOf3H3C91haRWA7eLA7TlOCV90_RfCptVM7X4-1k2f8TntBA10DeUuVmvge1EqeawegDJaza70wU5vZNaDDcesx6A9H_mtZJZWLOArIUIu_ovLCwYDLCOm4GaMXI0AJDa6NUn2gYNadADPWTV8btoKQWdPqtQ-mQKQK2-lqv3eG8yS6zsX4DY6QwUzIg58-SHZEfiIqRsnfwQ1kGB7yEn1-Dd4YYxmWzlbRGJ1A-kj4W6lMHzIuaWa10XhLd0OSP_mwK7cJYMnURDKJtlUYrjUFHUi4Gbjt9iVqOQND-dRQoaFXqgwBpOU_fG7TBFsW--8mGkC77A2O6zjx2eiPQGyuJYzOz6YrEX4pOsLrJMdTXjeQGhOfkmZllmU0Ol-R3FbPEhJBfxks3dWIyI9ZbvVS2y7JTLE18OTiqsVaWmbeXF3o73uPW9IYTQveo6-Jflj-HAKMRru2EmmfRWj7Zpsk0ycdQVIagAsCfE_NSKzToVUtz318BgzdDKjX5JdG6VWjFMOSqQ2KNnpAynsZCUsvGi_xk-ZHEGPeZTvmVIB3bQMJud7xn3HHhXCSiVT=w260-h118-no", height: "118",width: "261"

        .userSetting.ng-hide
          / ↑が大枠
          .pager-nums-top
            / render切り出し１
            %p.display_option_number.mb0 24人中 1〜10人表示
            .box_display_option
              .box_result_pager.mb0
                =link_to "前へ","",class: "pager_pre button_c button_white_a ng-hide"
                =link_to "","",class: "disabled prev ng-hide"
                %ol.pager_nums
                  %li.pager_num.is_current
                    =link_to "1",""
                  %li.pager_num
                    =link_to "2",""

                =link_to "次へ","",class: "pager_next button_c button_white_a"
                =link_to "","",class: "disabled next ng-hide"
              %span
                =link_to "退会者を非表示","",class: "button_withdrawal bottom button_f button_white_a"

          %ol.box_like_list
            / render切り出し２
            .like_item
              .unread_over_ray.ng-hide
                =image_tag "",class: "overlay_image"

              .item_inner01
                .box_user_photo
                  %ul.user_photo_list
                    %li.photo_item
                      =image_tag "https://lh3.googleusercontent.com/bKDlj30E4NitaDXdEkcnNJ7uibfnQorzLHMQM4JEJ5ILNVUTVCA1CFgJg9msTlpUylaCI8niuS2aKo7L-mcFbg90yNt8gsV8QdfGf_3NFmxzKYyngNMm3dqPkSR-wvx5QshFEcWAJFhTwtkmqNT2hwGkZ9CgdiLgtMZ9jcfS-Hll-WTlFFWy_GhbYczuz6OKPVttf_H0l5HZhQgryZnBuo5LIbd1e89kQqSWpXf5o1ZSfuUEe7YuTYnpH9Q2s_qiHxW3Uk5mnuyR1D-YBCWpsP4BMDsIFoQXSfJt7vQYITzk-2v3RowrM4SNkCBLyHn_KQSYSR7eT0vHk3gRZ1ke3i8rHl19TiMjQS6OcgpVfeSuHpYOMNOs5yTJZIMP3Vpec_HXt0jhM3-dhhEZjjWLQWdd_hhyRxmlIGXYg1cWUvrU0x0FFDVlpsBrECkqLBycY0KeftAvVUaYqJFFWL30gLFvSl38yE-bJtBDxiETXatt_tUAGCCtQRf8LqDngmT0JLyhezb9JzU0nQHWUUqcS564eGlHbteewBC-jF4GlWw2q6blPpF2ZpVFcLbx1HNlzN4ueVcJKaCQaNhVY_Ry-D7SNSfzbaJHOEfMJnwJ2ltn2N6czaoQhI4fM3THXEGoe34efrJypSUoQCXfOJfpQmRufd4wJYv1=s636-no",width:"200",height:"200",class: "user_photo"
                  .box_user_photo_pager
                    =link_to "","",class: "pager_pre button_c button_white_a"
                    =link_to "","",class: "pager_next button_c button_white_a"
                    .pager_num 1/5

                .box_user_summary
                  .user_summary_inner01
                    %p.user_action_time 03/09 14:03
                    %p.user_info
                      =link_to "" do
                        %span 18歳
                        %span AKS
                    %p.user_tweet
                      %span.user_login.is_online
                    %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a 相性71%
                    %p.user_like_count.user_like_count_a
                      %span.ng-hide
                      %span.ng-hide
                      %span
                  .user_summary_inner02
                    %ul.summary_info_list
                      %li.summary_info_item
                        %p.item_title 身長：
                        %p.item_value 163 cm
                      %li.summary_info_item
                        %p.item_title 職種：
                        %p.item_value アイドル
                      %li.summary_info_item
                        %p.item_title 同居人：
                        %p.item_value 一人暮らし
                      %li.summary_info_item
                        %p.item_title 年収：
                        %p.item_value 3000万円以上
                      %li.summary_info_item
                        %p.item_title 兄弟姉妹：
                        %p.item_value
                      %li.summary_info_item
                        %p.item_title 血液型：
                        %p.item_value B型
                      %li.summary_info_item
                        %p.item_title
                        %p.item_value
                  .box_summary_community
                    %p.summary_community_title
                      参加コミュニティ
                    %ul.summary_community_list
                      %li.summary_community_item
                        =link_to "年上彼氏×年下彼女","",class: "community_view"
              .item_with_message.ng-hide
                .ng-hide
                  %p.with_message_title
                    あなたに届いたメッセージ
                  %p.with_message_text
                    ななみんビーム
                .ng-hide
                  %p.with_message_title.from_me
                    お相手へ送ったメッセージ
                  %p.with_message_text

              .box_answer_your_question.ng-hide
                %p.answer_your_question_title.ng-hide
                  あなたの質問への回答
                %p.answer_your_question_title.ng-hide
                  ななみんさんの質問への回答
                %p.answer_your_question_title.ng-hide
                  あなたの回答

              .item_inner02
                %p.like_thanks_note.ng-hide
                  「いいね！」
                  は減らない！
                %p.like_mitene_note.ng-hide
                  おすすめ枠に
                  載る！
                .wrap_action_button
                  %span.ng-hide
                    =link_to "",class: "button_like button_like_default button_pink_c button_like_view button_like_c button_e" do
                      %span.like いいね！
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_mitene_d button_like_mitene button_orange_a button_like_view button_like_c button_e" do
                  /     %span.like みてね！
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_default button_pink_c button_like_view button_like_c button_e" do
                  /     %span.like いいね！ありがとう
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_done button_pink_a button_like_view button_like_c button_e" do
                  /     %span.like いいね！済み
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_default button_pink_c button_like_view button_like_c button_e" do
                  /     %span.like 再いいね！
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_mitene_displayed button_like_view button_like_c button_e" do
                  /     %span.like おすすめ枠に掲載中
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_matched button_pink_c button_like_view button_like_c button_e" do
                  /     %span.like メッセージを送る
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_review button_pink_a button_like_view button_like_c button_e" do
                  /     %span.like 審査中
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_closed button_gray_a button_like_view button_like_c button_e" do
                  /     %span.like 退会済み
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_default button_pink_c button_like_view button_like_c button_e" do
                  /     %span.like 無料でいいね!
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_closed button_gray_a button_like_view button_like_c button_e" do
                  /     %span.like 非表示中
                  / %span.ng-hide
                  /   =link_to "",class: "button_like button_like_closed button_gray_a button_like_view button_like_c button_e" do
                  /     %span.like ブロック中

          .pager-nums-top
            / render切り出し３
            / 本来『pager-nums-bottom』
            .box_display_option
              .box_result_pager.mb0
                =link_to "前へ","",class: "pager_pre button_c button_white_a ng-hide"
                =link_to "","",class: "disabled prev ng-hide"
                %ol.pager_nums
                  %li.pager_num.is_current
                    =link_to "1",""
                  %li.pager_num
                    =link_to "2",""

                =link_to "次へ","",class: "pager_next button_c button_white_a"
                =link_to "","",class: "disabled next ng-hide"
              %span
                =link_to "退会者を非表示","",class: "button_withdrawal bottom button_f button_white_a"
            %p.display_option_number.mb0 24人中 1〜10人表示
